@import url(http://fonts.googleapis.com/css?family=Open+Sans);



a {
	color: #333333;
	text-decoration: none;
}

a:hover {
	color: #ff0000;
}
ol, ul {
	list-style: none;
	padding:0px;
	margin:0px;
}
#wrap {
	margin: 0 auto;
}

.inner {
	margin: 0 auto;
	max-width: 940px;
	padding: 0 0px;
}

.relative {
	position: relative;
	margin:52px 0 0 0;
}

.right {
	float: right;
}

.left {
	float: left;
}

/* HEADER */
#wrap > header {
	background-color: #333;
	padding-bottom: 20px;
}

#navigation {
	right: 40px;
	bottom: 0px;
	width:100%;
}

#menu-toggle {
	display: none;
	float: right;
    margin: -50px 0 0;
    padding: 6px 18px;
    text-align: right;
    width: 93%;
	background:#0072bc;
	border-radius:3px;
	border-radius:3px;
}

/* HEADER > MENU */
#main-menu {
	float: right;
	margin: 10px 0;
	font-family: "titilliumtext22l_rgregular"; font-size:18px;
	background:#00aeef;
	border:3px solid #fff;
	border-radius:25px;
	padding:5px 25px;
}

#main-menu > li {
	display: inline-block;
	margin-left:0px;
	padding: 2px 0;
}

#main-menu > li.parent {
	background-image: url(../images/plus-gray.png);
	background-size: 7px 7px;
	background-repeat: no-repeat;
	background-position: left center;
}

#main-menu > li.parent > a {
	padding: 0 10px;
	font-family: "titilliumtext22l_rgregular"; font-size:18px;
	color: #ff0000;/**/
}


.footmainlinks > ul li.parent > a {
	padding: 0 12px;
	font-family: "titilliumtext22l_rgregular"; font-size:15px;
	color: #ff0000;/**/
}

#main-menu > li > a {
	color: #fff;
	font-size: 18px;
	line-height: 14px;
	padding:0px 10px;
	text-decoration:none;
	font-family: 'titilliumtext22l_rgregular';
	/*background:url(../images/nav_devider.png no-repeat);*/
	}

#main-menu > li:hover > a,
#main-menu > li.current-menu-item > a {
	color: #005b7d;
}

/* HEADER > MENU > DROPDOWN */
#main-menu li {
	position: relative;
}

ul.sub-menu { /* level 2 */
	display: none;
	left: 0px;
	top: 24px;
	padding-top: 10px;
	position: absolute;
	width: 150px;
	z-index: 9999;
}

ul.sub-menu ul.sub-menu { /* level 3+ */
	margin-top: -1px;
	padding-top: 0;
	left: 149px;
	top: 0px;
}

ul.sub-menu > li > a {
	background-color: #0072bc;
		border: 1px solid #007dc5;
	border-top: none;
	color: #fff;
	display: block;
	font-size: 12px;
	line-height: 15px;
	padding: 10px 12px;
	font:normal 12px Arial, Helvetica, sans-serif;
}

ul.sub-menu > li > a:hover {
	background-color: #0054a6; 
	color: #fff;
}


ul.sub-menu > li:first-child {
	border-top: 3px solid #00aeef;
}

ul.sub-menu ul.sub-menu > li:first-child {
	border-top: 1px solid #444;
}

ul.sub-menu > li:last-child > a {
	border-radius: 0 0 2px 2px;
}

ul.sub-menu > li > a.parent {
	background-image: url(../images/arrow.png);
	background-size: 5px 9px;
	background-repeat: no-repeat;
	background-position: 95% center;
}

#main-menu li:hover > ul.sub-menu {
	display: block; /* show the submenu */
}

@media all and (max-width: 700px) {

	#navigation {
		position: static;
		margin-top: 20px;
	}

	#menu-toggle {
		display: block;
	}

	#main-menu {
		display: none;
		float: none;
		border:none;
		background:none;
		padding:0px;
		margin:0px;
		border-radius:0px;
	}

	#main-menu li {
		display: block;
		margin: 0;
		padding: 0;
	}

	#main-menu > li {
		margin-top: -1px;
	}

	#main-menu > li:first-child {
		margin-top: 0;
	}

	#main-menu > li > a {
		background-color: #0072bc;
		border: 1px solid #007dc5;
		color: #fff;
		display: block;
		font-size: 14px;
		padding: 12px !important;
		padding: 0;
	}

	#main-menu li > a:hover {
		background-color: #0054a6; 
	}

	#main-menu > li.parent {
		background: red;
		padding: 0;
	}

	#main-menu > li:hover > a,
	#main-menu > li.current-menu-item > a {
		border: 1px solid #0054a6 !important;
		color: #fff !important;
	}

	ul.sub-menu {
		display: block;
		margin-top: -1px;
		margin-left: 20px;
		position: static;
		padding: 0;
		width: inherit;
	}

	ul.sub-menu > li:first-child {
		border-top: 1px solid #00aeef !important;
	}

	ul.sub-menu > li > a.parent {
		background: #333 !important;
	}
}


@media all and (min-width:701px) and (max-width:767px){
#main-menu{ text-align:center !important; width:80%; float:none !important;}
.relative{ margin:25px 0 0 0;}
}