@charset "utf-8";
/* CSS Document */

@media all and (min-width: 240px) and (max-width: 319px){

#header{ width:100%;}
.logobg{ width:100%; text-align:center; position:inherit;}
.social{ float:none; text-align:center; margin:0px;}
.navigation{ width:100%;}
#slider{ width:100%;}
.welcomesectinner{ width:90%; padding:0 10px;}
.wework{ width:100%;}
.dobox{ width:91%; margin:0 0 40px 0;}
.portfolio{ width:100%;}
.differenceinner{ width:88%; padding:25px 10px;}
.fourpont{ width:100%;}
.fourpont ul li{ width:97%;}
.whyconsisty{ width:100%;}
.testimonials{ width:100%;}

.footerlinksin{ width:100%;}
.footmainlinks{ width:86%; border:none; margin:0 0 25px 0;}
.footbtn{ width:63%;}

/* services */
.contentinner{ width:auto; padding:25px 15px;} 

/* portfolio */
.pageheadinner{ width:auto;}
.fullportfolio{ text-align:center;}

/*contact form*/
.contform{ width:auto;}
.contform ul li{ width:95%; margin:15px 0 0 0;}
.contform ul li .txtfld{ width:95%;}
.contform ul li .txtarea{ width:95%;}
.conform{ width:100%;}
.contform ul li{ width:99%;}
.contform ul li .inputbtn{ margin:0px;}
.comaddress{ width:100%; margin:30px 0 0 0;}
}

@media all and (min-width: 320px) and (max-width: 479px){
#header{ width:100%;}
.logobg{ width:100%; text-align:center; position:inherit;}
.social{ float:none; text-align:center; margin:0px;}
.navigation{ width:100%;}
#slider{ width:100%;}
.welcomesectinner{ width:93%; padding:0 10px;}
.wework{ width:100%;}
.dobox{ width:92%; margin:0 0 40px 0;}
.portfolio{ width:100%;}
.differenceinner{ width:93%; padding:25px 10px;}
.fourpont{ width:100%;}
.fourpont ul li{ width:97%;}
.whyconsisty{ width:100%;}
.testimonials{ width:100%;}

.footerlinksin{ width:100%;}
.footmainlinks{ width:88%; border:none; margin:0 0 25px 0;}
.footbtn{ width:75%;}

/* services */
.contentinner{ width:auto; padding:25px 15px;}

/* portfolio */
.pageheadinner{ width:auto;}
.fullportfolio{ text-align:center;}

/*contact form*/
.contform{ width:auto;}
.contform ul li{ width:95%; margin:15px 0 0 0;}
.contform ul li .txtfld{ width:95%;}
.contform ul li .txtarea{ width:95%;}
.conform{ width:100%;}
.contform ul li{ width:99%;}
.contform ul li .inputbtn{ margin:0px;}
.comaddress{ width:100%; margin:30px 0 0 0;}

}

@media all and (min-width:480px) and (max-width:567px){
#header{ width:100%;}
.logobg{ width:100%; text-align:center; position:inherit;}
.social{ float:none; text-align:center; margin:0px;}
.navigation{ width:100%;}
#slider{ width:100%;}
.welcomesectinner{ width:93%; padding:0 10px;}
.wework{ width:100%;}
.dobox{ width:95%; margin:0 0 40px 0;}
.portfolio{ width:100%;}
.differenceinner{ width:93%; padding:25px 10px;}
.fourpont{ width:100%;}
.fourpont ul li{ width:97%;}
.whyconsisty{ width:100%;}
.testimonials{ width:100%;}

.footerlinksin{ width:100%;}
.footmainlinks{ width:42%; border:none; margin:0 0 25px 0;}
.footbtn{ width:75%;}

/* services */
.contentinner{ width:auto; padding:25px 15px;}

/* portfolio */
.pageheadinner{ width:auto;}
.fullportfolio{ text-align:center;}

/*contact form*/
.contform{ width:auto;}
.contform ul li{ width:95%; margin:15px 0 0 0;}
.contform ul li .txtfld{ width:95%;}
.contform ul li .txtarea{ width:95%;}
.contform ul li .inputbtn{ margin:0px;}
}

@media all and (min-width:568px) and (max-width:767px){
#header{ width:100%;}
.logobg{ width:100%; text-align:center; position:inherit;}
.social{ float:none; text-align:center; margin:0px;}
.navigation{ width:100%;}
#slider{ width:100%;}
.welcomesectinner{ width:93%; padding:0 10px;}
.wework{ width:100%;}
.dobox{ width:96%; margin:0 0 40px 0;}
.portfolio{ width:100%;}
.differenceinner{ width:93%; padding:25px 10px;}
.fourpont{ width:100%;}
.fourpont ul li{ width:90%;}
.whyconsisty{ width:100%;}
.testimonials{ width:100%;}

.footerlinksin{ width:100%;}
.footmainlinks{ width:44%; border:none; margin:0 0 25px 0;}
.footbtn{ width:75%;}

/* services */
.contentinner{ width:auto; padding:25px 15px;}

/* portfolio */
.pageheadinner{ width:auto;}
.fullportfolio{ text-align:center;}

/*contact form*/
.contform{ width:auto;}
.contform ul li{ width:95%; margin:15px 0 0 0;}
.contform ul li .txtfld{ width:100%;}
.contform ul li .txtarea{ width:100%;}
.contform ul li .inputbtn{ margin:0px;}
#main-menu{ text-align:center !important; width:80%; float:none !important;}
.relative{ margin:25px 0 0 0;}
}

@media all and (min-width:768px) and (max-width:900px){
#header{ width:100%;}
.logobg{ width:100%; text-align:center; position:inherit;}
.social{ float:none; text-align:center; margin:0px;}
.navigation{ width:100%;}
#main-menu{ float:none !important;}
#navigation{ text-align:center;}
.relative{ margin:30px 0 0 0 !important;}
#slider{ width:100%;}
.welcomesectinner{ width:93%; padding:0 10px;}
.wework{ width:100%;}
.dobox{ width:30%; margin:0 0 40px 0;}
.portfolio{ width:100%;}
.differenceinner{ width:93%; padding:25px 10px;}
.fourpont{ width:60%;}
.fourpont ul li{ width:95%; padding:0px 0px 15px 0px;}
.whyconsisty{ width:40%;}
.testimonials{ width:100%;}

.footerlinksin{ width:100%;}
.footmainlinks{ width:46%; border:none; margin:0 0 25px 0;}
.footbtn{ width:75%;}

/* services */
.contentinner{ width:auto; padding:25px 15px;}

/* portfolio */
.pageheadinner{ width:auto;}
.fullportfolio{ text-align:center;}

/* Contact us*/
.contform ul li{ width:95%;}
.contform ul li .inputbtn{ margin:0px;}
}

@media all and (min-width:901px) and (max-width:1024px){
#header{ width:100%;}
.navigation{ width:100%;}
#slider{ width:100%;}
.welcomesectinner{ width:93%; padding:0 10px;}
.portfolio{ width:100%;}
.differenceinner{ width:93%; padding:25px 10px;}
.wework{ width:100%;}
.testimonials{ width:100%;}
.footerlinksin{ width:100%;}

/* portfolio */
.pageheadinner{ width:auto;}
.fullportfolio{ text-align:center;}
}