﻿@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'titilliumtext22l_rgregular';
    src: url('titilliumtext22l003.eot');
    src: url('titilliumtext22l003.eot?#iefix') format('embedded-opentype'), url('titilliumtext22l003.woff') format('woff'), url('titilliumtext22l003.ttf') format('truetype'), url('titilliumtext22l003.svg#titilliumtext22l_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muliregular';
    src: url('muli-regular.eot');
    src: url('muli-regular.eot?#iefix') format('embedded-opentype'), url('muli-regular.woff') format('woff'), url('muli-regular.ttf') format('truetype'), url('muli-regular.svg#muliregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fr {
    float: right !important;
}

.fl {
    float: right !important;
}

img {
    max-width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: url(../images/bannerbg.png) repeat-x center top #0095da;
}


/*#bodyinner {
    background: url(../images/bannerbg.png) repeat-x center top #0095da;
    width: 100%;
    min-height: 155px;
}*/

#header {
    margin: 0 auto;
    padding: 0px;
    width: 1000px;
}

.logobg {
    margin: 0px;
    padding: 20px 0 52px 0;
    background: url(../images/logo_bg.png) no-repeat top center;
    text-align: center;
    width: 276px;
    position: absolute;
    height: 72px;
}

.social {
    margin: 0px 0 0 0;
    padding: 0px;
    text-align: center;
}

    .social ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .social ul li {
            margin: 10px;
            padding: 0px 0px;
            list-style-type: none;
            display: inline;
            background: none !important;
        }

            .social ul li .fb {
                background: url(../images/fb.png) no-repeat;
                height: 30px;
                width: 30px;
                display: inline-block;
            }

            .social ul li .twt {
                background: url(../images/twt.png) no-repeat;
                height: 30px;
                width: 30px;
                display: inline-block;
            }

            .social ul li .gp {
                background: url(../images/gp.png) no-repeat;
                height: 30px;
                width: 30px;
                display: inline-block;
            }

            .social ul li .fb:hover {
                background: url(../images/fb.png) no-repeat;
                background-position: 0 -30px;
            }

            .social ul li .twt:hover {
                background: url(../images/twt.png) no-repeat;
                background-position: 0 -30px;
            }

            .social ul li .gp:hover {
                background: url(../images/gp.png) no-repeat;
                background-position: 0 -30px;
            }

.navigation {
    margin: 0px;
    padding: 0px;
    float: right;
    clear: both;
}

#slider {
    width: 100%;
    margin: 0 auto;
    padding: 0px 0;
    clear: both;
}

#content {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

    #content h2 {
        margin: 0 auto 15px;
        padding: 10px 0;
        font-family: 'titilliumtext22l_rgregular';
        font-size: 26px;
        text-align: left;
        color: #0095da;
        border-bottom: 1px solid #f1f1f1;
    }

    #content p {
        margin: 0px;
        padding: 0 0 10px 0;
        font-family: 'muliregular';
        color: #5c5c5c5;
        line-height: 24px;
        font-size: 15px;
    }

.welcomesect {
    margin: 0px;
    padding: 15px 0;
    width: 100%;
    background: url(../images/welcomebg.png) repeat;
}

.welcomesectinner {
    margin: 0 auto;
    padding: 0px;
    width: 1000px;
}

    .welcomesectinner p {
        text-align: Left;
    }
/*{ text-align:center;}*/
.borderless {
    margin: 0px;
    padding: 0px;
    background: url(../images/welcomebg_less.png) bottom repeat-x;
    height: 9px;
}

.wework {
    margin: 20px auto;
    padding: 0px;
    width: 1000px;
}

.dobox {
    margin: 0px;
    padding: 25px 10px;
    width: 30%;
    float: left;
    border-radius: 3px;
}

    .dobox:hover {
        background: #fff2eb;
    }

    .dobox .symbol {
        text-align: center;
    }

    .dobox h3 {
        margin: 0 auto;
        padding: 10px 0 0 0;
        font-family: 'titilliumtext22l_rgregular';
        font-size: 26px;
        text-align: center;
        color: #ff0000;
    }

    .dobox p {
        margin: 0 auto;
        padding: 0px 0;
        font-family: 'titilliumtext22l_rgregular';
        font-size: 18px;
        text-align: center;
        color: #333;
    }

.readmore {
    margin: 10px 0 0 0;
    padding: 0px;
    width: 100%;
    text-align: center;
}

    .readmore a {
        margin: 0px;
        padding: 5px 12px;
        text-align: center;
        background: #ff0000;
        font-family: 'titilliumtext22l_rgregular';
        font-size: 18px;
        border-radius: 3px;
    }

        .readmore a:hover {
            background: #ce0000;
        }


#portfoliobg {
    margin: 0px;
    padding: 0px;
    background: url(../images/gallery_bg.png) center top repeat-x;
    height: 428px;
}

.portfolio {
    margin: 0 auto;
    padding: 20px 0;
    width: 1000px;
}

.difference {
    margin: 0px;
    padding: 0px;
    background: url(../images/graybg.png) repeat;
}

.difference_less {
    margin: 0px;
    padding: 0px;
    background: url(../images/graybg_less.png) repeat-x;
    height: 9px;
}

.differenceinner {
    margin: 0 auto;
    padding: 25px 0;
    width: 1000px;
}

    .differenceinner h4 {
        margin: 0px;
        padding: 0px 0px 10px 0px;
        font-family: 'titilliumtext22l_rgregular';
        font-weight: normal;
        font-size: 30px;
        border-bottom: 1px solid #fff;
        color: #fff;
    }

.fourpont {
    margin: 20px 0 0 0;
    padding: 0px;
    width: 65%;
    float: left;
}

    .fourpont ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .fourpont ul li {
            margin: 0px;
            padding: 0px 10px 15px 0px;
            list-style-type: none;
            float: left;
            width: 48%;
        }

            .fourpont ul li .fouricon {
                margin: 0px;
                padding: 0px 10px 0px 0px;
                float: left;
            }

            .fourpont ul li h6 {
                margin: 0px;
                padding: 0px;
                font-family: 'titilliumtext22l_rgregular';
                font-weight: bold;
                font-size: 18px;
                color: #fff;
            }

            .fourpont ul li p {
                margin: 0px;
                padding: 0px;
                font-family: 'titilliumtext22l_rgregular';
                font-weight: normal;
                font-size: 16px;
                color: #fff !important;
            }

                .fourpont ul li p a {
                    margin: 0px;
                    padding: 0px;
                    font-family: 'titilliumtext22l_rgregular';
                    font-weight: normal;
                    font-size: 16px;
                    color: #fff !important;
                }

                    .fourpont ul li p a:hover {
                        color: #8a0051 !important;
                    }

.whyconsisty {
    margin: 20px 0 0 0;
    padding: 0px;
    width: 35%;
    float: left;
}

    .whyconsisty h5 {
        margin: 0px;
        padding: 0px;
        font-family: 'titilliumtext22l_rgregular';
        font-weight: normal;
        font-size: 28px;
        color: #fff !important;
    }

    .whyconsisty p {
        color: #fff !important;
    }

    .whyconsisty ul {
        margin: 0px;
        padding: 0px;
        width: 100%;
        list-style-type: none;
    }

        .whyconsisty ul li {
            margin: 0px;
            padding: 0px 0px 5px 30px;
            list-style-type: none;
            background: url(../images/right.png) 0 5px no-repeat;
            font-family: 'titilliumtext22l_rgregular';
            font-weight: normal;
            font-size: 16px;
            color: #fff;
        }

.testimonials {
    margin: 25px auto;
    padding: 0px;
    width: 1000px;
}

.quoteleft {
    background: url(../images/quoteleft.png) no-repeat top left;
    text-align: center;
    line-height: 28px;
    width: 65%;
    margin: 0 auto;
}

.quoteright {
    background: url(../images/quoteright.png) no-repeat bottom right;
    font-family: 'titilliumtext22l_rgregular';
    font-size: 16px;
    text-align: center;
    color: #333;
    text-align: center;
    padding: 16px 0;
}

.clientname {
    margin: 0px;
    padding: 0px;
    text-align: right;
    font-family: 'titilliumtext22l_rgregular';
    font-size: 16px;
    text-align: center;
    color: #333;
}

.proimg {
    margin: 0px;
    padding: 0px;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}

#footerlinks {
    margin: 0px;
    padding: 0px 0px 25px 0px;
    background: #434343;
    width: 100%;
}

.footerlinksin {
    margin: 0 auto;
    padding: 25px 0;
    width: 1000px;
}

    .footerlinksin h4 {
        margin: 0px 0px 10px 0px;
        padding: 0px 0px 10px 0px;
        font-family: 'titilliumtext22l_rgregular';
        font-size: 18px;
        text-align: left;
        color: #fff;
        border-bottom: 1px solid #595959;
    }

.footmainlinks {
    margin: 0px;
    padding: 0 15px;
    width: 21%;
    float: left;
    border-right: 1px dashed #595959;
}

    .footmainlinks ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .footmainlinks ul li {
            margin: 0px;
            padding: 3px 0;
            list-style-type: none;
            background: url(../images/footbullet.png) no-repeat 0 11px;
        }

            .footmainlinks ul li a {
                margin: 0px;
                padding: 0 0 0 15px;
                font-family: 'titilliumtext22l_rgregular';
                font-size: 15px;
                text-align: left;
                color: #fff;
            }

                .footmainlinks ul li a:hover {
                    color: #9f9f9f;
                }

.footbtn {
    margin: 0px 0px 10px 0px;
    padding: 12px 35px;
    font-family: 'titilliumtext22l_rgregular';
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    background: #0089cf;
    border-radius: 3px;
    float: left;
    width: 66%;
}

.footcont p {
    color: #fff !important;
    padding: 0px !important;
}

.copyright {
    margin: 0px;
    padding: 15px 0;
    background: #202020;
    text-align: center;
    border-top: 1px dashed #545454;
    color: #737373;
    font-family: 'titilliumtext22l_rgregular';
    font-size: 14px;
}


/* about us*/
.txtalign {
    text-align: center;
}

.contentinner {
    margin: 0 auto;
    padding: 25px 0;
    width: 1000px;
}

    .contentinner h3 {
        margin: 0px 0px 15px 0px;
        padding: 0px 0px 5px 0px;
        text-align: center;
        font-family: 'titilliumtext22l_rgregular';
        font-size: 24px;
        font-weight: normal;
        color: #0095da;
        text-align: left;
        border-bottom: 1px solid #f1f1f1;
    }

    .contentinner p {
        text-align: justify;
    }

.aboutimg {
    margin: 0px 0px 15px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

.vismis {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.vismisimg {
    float: left;
    margin: 0px 15px 5px 0px;
    padding: 0px;
}

.pagehead {
    background: #f2f2f2;
    margin: 0px;
    padding: 2px 0;
    width: 100%;
}

.pageheadinner {
    margin: 0 auto;
    padding: 0px;
    width: 1000px;
}

.innerdotline {
    margin: 0px 0;
    padding: 0px;
    border-bottom: 1px dashed #d3d3d3;
    border-top: 1px dashed #d3d3d3;
    width: 100%;
}

/* Services */
.services {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.serivicebox {
    margin: 0px 0 15px 0;
    padding: 0px;
    float: left;
}

.serviceicon {
    margin: 0px 20px;
    padding: 0px;
    float: left;
}

.services h4 {
    font-family: 'titilliumtext22l_rgregular';
    font-size: 16px;
    font-weight: normal;
    color: #333;
    text-align: left;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    font-weight: bold;
}

.provide {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* portfolio*/
.portfoliomenu {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

    .portfoliomenu ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .portfoliomenu ul li {
            margin: 0px;
            padding: 0px;
            list-style-type: none;
            display: inline;
        }

            .portfoliomenu ul li a {
                margin: 0 5px 5px 0;
                padding: 7px 15px;
                list-style-type: none;
                font-family: 'titilliumtext22l_rgregular';
                font-size: 16px;
                font-weight: normal;
                color: #333;
                text-align: center;
                background: #f2f2f2;
                border-radius: 3px;
                text-decoration: none;
                float: left;
            }

                .portfoliomenu ul li a:hover {
                    background: #0095da;
                    color: #fff;
                }

                .portfoliomenu ul li a.active {
                    background: #ff0000;
                    color: #fff;
                }

.fullportfolio {
    margin: 20px 0 0 0;
    padding: 0px;
    width: 100%;
    text-align: center;
}

    .fullportfolio ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .fullportfolio ul li {
            margin: 4px;
            padding: 0px;
            list-style-type: none;
            display: inline-block;
        }

            .fullportfolio ul li a {
                margin: 0px;
                padding: 3px;
                border: 1px solid #000000;
                border-radius: 3px;
                overflow: hidden;
                display: inline-block;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            }

    .fullportfolio img {
        height: 200px;
        width: 200px;
    }

    .fullportfolio ul li figure:hover {
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -ms-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        background-color: #ffffff;
    }

.aboutimg img:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background-color: #ffffff;
}

.contactmap {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.contform {
    margin: 0px;
    padding: 20px;
    width: 96%;
    background: #007dc6;
}

    .contform h5 {
        margin: 0px;
        padding: 0px;
        font-size: 22px;
        font-family: 'titilliumtext22l_rgregular';
        font-weight: normal;
        color: #fff;
        text-align: center;
    }

    .contform ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .contform ul li {
            margin: 0px 10px 15px;
            width: 46%;
            padding: 0px;
            list-style-type: none;
            float: left;
        }

            .contform ul li label {
                margin: 0px;
                padding: 0px;
                font-size: 18px;
                font-family: 'titilliumtext22l_rgregular';
                font-weight: normal;
                color: #fff;
                float: left;
            }

            .contform ul li .txtfld {
                margin: 0px;
                padding: 8px 5px;
                border-radius: 6px;
                background: #fff;
                border: 1px solid #0071b3;
                width: 96%;
            }

            .contform ul li .txtarea {
                margin: 0px;
                padding: 5px;
                border-radius: 6px;
                resize: none;
                background: #fff;
                border: 1px solid #0071b3;
                width: 96%;
                min-height: 80px;
            }

            .contform ul li .inputbtn {
                margin: 32px 0 0 0;
                padding: 10px 30px;
                border-radius: 6px;
                border: none;
                background: #00aeef;
                font-family: 'titilliumtext22l_rgregular';
                font-weight: bold;
                color: #fff;
                font-size: 16px;
                text-transform: uppercase;
                cursor: pointer;
            }

                .contform ul li .inputbtn:hover {
                    background: #005586;
                }

    .contform p {
        margin: 7px 0 0px 0 !important;
        color: #fff;
        text-align: center;
    }

.conform {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 65%;
}

.comaddress {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 35%;
}

    .comaddress h4 {
        margin: 0px;
        padding: 0px;
        width: 100%;
        font-size: 18px;
        font-family: 'titilliumtext22l_rgregular';
        font-weight: normal;
        color: #fff;
        text-align: center;
    }

.hr {
    border-bottom: 1px solid #fff;
    padding: 0px;
    margin: 0 0 15px 0;
}

.compare {
    margin: 0px;
    padding: 0px;
    width: 100%;
    clear: both;
}

.advantages {
    margin: 0px;
    padding: 0px;
    width: 98%;
    float: left;
}

    .advantages ul {
        margin: 10px 0 0 0;
        padding: 0px;
        list-style-type: none;
    }

        .advantages ul li {
            margin: 10px 0;
            padding: 7px 0 0 36px;
            list-style-type: none;
            font-family: 'titilliumtext22l_rgregular';
            font-weight: normal;
            color: #000;
            font-size: 18px;
            background: url(../images/thumb.png) no-repeat;
        }

    .advantages h6 {
        margin: 0px;
        padding: 5px 10px;
        font-size: 22px;
        font-family: 'titilliumtext22l_rgregular';
        font-weight: normal;
        color: #ff0000;
        background: #fff8ba;
    }

.conadvantages {
    margin: 0px;
    padding: 0px;
    width: 48%;
    float: right;
}

    .conadvantages ul {
        margin: 10px 0 0 0;
        padding: 0px;
        list-style-type: none;
    }

        .conadvantages ul li {
            margin: 10px 0;
            padding: 7px 0 0 36px;
            list-style-type: none;
            font-family: 'titilliumtext22l_rgregular';
            font-weight: normal;
            color: #000;
            font-size: 18px;
            background: url(../images/con_thumb.png) no-repeat;
        }

    .conadvantages h6 {
        margin: 0px;
        padding: 5px 10px;
        font-size: 22px;
        font-family: 'titilliumtext22l_rgregular';
        font-weight: normal;
        color: #ff0000;
        background: #fff8ba;
    }


/* LIST #3 */
#list3 {
}

    #list3 ul {
        list-style-image: url("../images/right.png");
        color: black;
        font-size: 18px;
        margin-left: 50px;
    }

        #list3 ul li {
            line-height: 30px;
            font-family: "muliregular";
            font-size: 15px;
            margin: 0;
            padding: 0 0 10px;
        }
