/*!****************************
 *                            *
 *  Smart Alert               *
 *                            *
 *  Code: Lukas Prvy          *
 *  Design: Pierre Borodin    *
 *                            *
 ******************************/

/* =====[ CORE STYLES ]========================================================================== */

/* -----[ OVERLAY ]------------------------------------------------------------------------------ */

#smartAlert {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

body > #smartAlert {
    position: fixed;
}

/* -----[ BOX ]---------------------------------------------------------------------------------- */

#smartAlertBox {
    overflow: hidden;
    position: absolute;
}

/* -----[ HEADER ]------------------------------------------------------------------------------- */

#smartAlertHeader {
    position: relative;
}

#smartAlert[data-draggable="true"] #smartAlertHeader {
    cursor: move;
}

#smartAlert[data-ie="7"] #smartAlertHeader {
    width: expression((
        this.parentNode.clientWidth -
        parseInt(this.currentStyle['paddingLeft']) -
        parseInt(this.currentStyle['paddingRight'])
    ) + 'px');
}

#smartAlertTitle {
    text-align: center;
}

#smartAlertClose {
    display: none;
    position: absolute;
    cursor: pointer;
}

#smartAlert[data-cancel="true"] #smartAlertClose {
    display: block;
}

/* -----[ BODY ]--------------------------------------------------------------------------------- */

#smartAlertBody {
    display: table;
    width: 100%;
}

#smartAlert[data-ie="7"] #smartAlertBody {
    display: block;
    border-collapse: collapse;
    border-spacing: 0;
    width: auto;
    width: expression(this.parentNode.clientWidth + 'px');
}

#smartAlert[data-ie="7"] #smartAlertBody,
#smartAlert[data-ie="7"] #smartAlertBody td {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* -----[ ICONS ]-------------------------------------------------------------------------------- */

#smartAlertIcon {
    display: table-cell;
    background-position: center center;
    background-repeat: no-repeat;
}

#smartAlert[data-icon="false"] #smartAlertIcon {
    display: none;
}

/* -----[ CONTENT ]------------------------------------------------------------------------------ */

#smartAlertContent {
    display: table-cell;
    vertical-align: middle;
}

#smartAlert[data-align="left"] #smartAlertContent {
    text-align: left;
}

#smartAlert[data-align="center"] #smartAlertContent {
    text-align: center;
}

#smartAlert[data-align="right"] #smartAlertContent {
    text-align: right;
}

#smartAlert[data-ie="7"] #smartAlertContent {
    word-wrap: break-word;
}

#smartAlertPrompt {
    display: block;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* -----[ BUTTONS ]------------------------------------------------------------------------------ */

#smartAlertButtons {
    position: relative;
    text-align: center;
}

#smartAlert[data-ie="7"] #smartAlertButtons {
    width: expression((
        this.parentNode.clientWidth -
        parseInt(this.currentStyle['paddingLeft']) -
        parseInt(this.currentStyle['paddingRight'])
    ) + 'px');
}

.smartAlertButton {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

#smartAlert[data-ie="8"] .smartAlertButton {
    position: relative;
}

#smartAlert[data-ie="7"] .smartAlertButton {
    display: inline;
    width: 1px;
}

.smartAlertButton:first-child,
.smartAlertButton.pie_first-child {
    margin-left: 0;
}

/* -----[ CSS3 PIE ]----------------------------------------------------------------------------- */

#smartAlert[data-pie="htc"],
#smartAlert[data-pie="htc"] #smartAlertBox,
#smartAlert[data-pie="htc"] #smartAlertHeader,
#smartAlert[data-pie="htc"] #smartAlertContent,
#smartAlert[data-pie="htc"] #smartAlertScrollBar,
#smartAlert[data-pie="htc"] #smartAlertScrollDrag,
#smartAlert[data-pie="htc"] #smartAlertButtons,
#smartAlert[data-pie="htc"] #smartAlertButton,
#smartAlert[data-pie="htc"] .smartAlertButton {
    behavior: url(alert/css/PIE.htc);
}

#smartAlert[data-pie="php"],
#smartAlert[data-pie="php"] #smartAlertBox,
#smartAlert[data-pie="php"] #smartAlertHeader,
#smartAlert[data-pie="php"] #smartAlertContent,
#smartAlert[data-pie="php"] #smartAlertScrollBar,
#smartAlert[data-pie="php"] #smartAlertScrollDrag,
#smartAlert[data-pie="php"] #smartAlertButtons,
#smartAlert[data-pie="php"] #smartAlertButton,
#smartAlert[data-pie="php"] .smartAlertButton {
    behavior: url(alert/css/PIE.php);
}

/* =====[ MALIHU CUSTOM SCROLLBAR ]============================================================== */

.mCSB_container{width:auto;margin-right:30px;overflow:hidden}.mCSB_container.mCS_no_scrollbar{margin-right:0}.mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar,.mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar{margin-right:30px}.mCustomScrollBox>.mCSB_scrollTools{width:16px;height:100%;top:0;right:0}.mCSB_scrollTools .mCSB_draggerContainer{position:absolute;top:0;left:0;bottom:0;right:0;height:auto}.mCSB_scrollTools a+.mCSB_draggerContainer{margin:20px 0}.mCSB_scrollTools .mCSB_draggerRail{width:2px;height:100%;margin:0 auto;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}.mCSB_scrollTools .mCSB_dragger{cursor:pointer;width:100%;height:30px}.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:4px;height:100%;margin:0 auto;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;text-align:center}.mCustomScrollBox>.mCSB_scrollTools{opacity:.75;filter:"alpha(opacity=75)";-ms-filter:"alpha(opacity=75)"}.mCustomScrollBox:hover>.mCSB_scrollTools{opacity:1;filter:"alpha(opacity=100)";-ms-filter:"alpha(opacity=100)"}.mCSB_scrollTools .mCSB_draggerRail{background:#000;background:rgba(0,0,0,0.4);filter:"alpha(opacity=40)";-ms-filter:"alpha(opacity=40)"}.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#fff;background:rgba(255,255,255,0.75);filter:"alpha(opacity=75)";-ms-filter:"alpha(opacity=75)"}.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:rgba(255,255,255,0.85);filter:"alpha(opacity=85)";-ms-filter:"alpha(opacity=85)"}.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:rgba(255,255,255,0.9);filter:"alpha(opacity=90)";-ms-filter:"alpha(opacity=90)"}.mCustomScrollBox{max-width:none !important;}