/*!****************************
 *                            *
 *  Smart Alert               *
 *                            *
 *  Code: Lukas Prvy          *
 *  Design: Pierre Borodin    *
 *                            *
 ******************************/

/* =====[ DEFAULT THEME ]======================================================================== */

/* -----[ OVERLAY ]------------------------------------------------------------------------------ */

#smartAlert {
    background: rgba(255, 255, 255, 0.85);
    -pie-background: rgba(255, 255, 255, 0.85);
}

/* -----[ BOX ]---------------------------------------------------------------------------------- */

#smartAlertBox {
    margin: 25px;
    border: 1px solid #36424b;
    min-width: 270px;
    max-width: 500px;
    font-family: sans-serif;
    font-size: 13px;
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 0 0 6px rgba(0, 33, 70, 0.1), 0 7px 25px rgba(17, 38, 84, 0.4);
    -webkit-box-shadow: 0 0 6px rgba(0, 33, 70, 0.1), 0 7px 25px rgba(17, 38, 84, 0.4);
    -moz-box-shadow: 0 0 6px rgba(0, 33, 70, 0.1), 0 7px 25px rgba(17, 38, 84, 0.4);
    -ms-box-shadow: 0 0 6px rgba(0, 33, 70, 0.1), 0 7px 25px rgba(17, 38, 84, 0.4);
    -o-box-shadow: 0 0 6px rgba(0, 33, 70, 0.1), 0 7px 25px rgba(17, 38, 84, 0.4);
}

#smartAlert[data-type="prompt"] #smartAlertBox {
    min-width: 310px;
}

#smartAlert[data-ie="9"] #smartAlertBox {
    border-radius: 4px;
}

#smartAlert[data-ie="8"] #smartAlertBox,
#smartAlert[data-ie="7"] #smartAlertBox {
    box-shadow: none;
}

/* -----[ HEADER ]------------------------------------------------------------------------------- */

#smartAlertHeader {
    border-bottom: 1px solid #36424b;
    padding: 14px 41px 13px 17px;
        background-color: #007dc6;
    /*background-image: linear-gradient(#57626c, #3c4852);
    background-image: -webkit-linear-gradient(#57626c, #3c4852);
    background-image: -moz-linear-gradient(#57626c, #3c4852);*/
    background-image: -o-linear-gradient(#57626c, #3c4852);
    background-image: -ms-linear-gradient(#57626c, #3c4852);
    -pie-background: linear-gradient(#57626c, #3c4852);
    box-shadow: 0 1px rgba(255, 255, 255, 0.21) inset, 0 0 10px rgba(255, 255, 255, 0.07) inset;
    -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.21) inset, 0 0 10px rgba(255, 255, 255, 0.07) inset;
    -moz-box-shadow: 0 1px rgba(255, 255, 255, 0.21) inset, 0 0 10px rgba(255, 255, 255, 0.07) inset;
    -ms-box-shadow: 0 1px rgba(255, 255, 255, 0.21) inset, 0 0 10px rgba(255, 255, 255, 0.07) inset;
    -o-box-shadow: 0 1px rgba(255, 255, 255, 0.21) inset, 0 0 10px rgba(255, 255, 255, 0.07) inset;
}

#smartAlertTitle {
    font-weight: bold;
    text-shadow: 0 -1px 1px rgba(2, 3, 3, 0.3);
    color: #fff;
    line-height: 13px;
}

#smartAlertClose {
    top: 13px;
    right: 14px;
    width: 13px;
    height: 13px;
    background: url(img/close.png);
}

@media only screen and (min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1) {
    #smartAlertClose {
        background: url(x2/close.png);
        background-size: 100%, 100%;
        -webkit-background-size: 100%, 100%;
        -moz-background-size: 100%, 100%;
        -o-background-size: 100%, 100%;
    }
}

#smartAlert[data-webkit] #smartAlertHeader,
#smartAlert[data-opera] #smartAlertHeader {
    border-radius: 2px 2px 0 0;
}

/* -----[ ICONS ]-------------------------------------------------------------------------------- */

#smartAlertIcon {
    width: 67px;
}

#smartAlert[data-icon="info"] #smartAlertIcon {
    background-image: url(img/info.png);
}

#smartAlert[data-icon="confirm"] #smartAlertIcon {
    background-image: url(img/confirm.png);
}

#smartAlert[data-icon="warning"] #smartAlertIcon {
    background-image: url(img/warning.png);
}

#smartAlert[data-icon="error"] #smartAlertIcon {
    background-image: url(img/error.png);
}

#smartAlert[data-icon="prompt"] #smartAlertIcon {
    background-image: url(img/prompt.png);
}

@media only screen and (min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1) {
    #smartAlertIcon {
        background-size: 35px, 35px;
        -webkit-background-size: 35px, 35px;
        -moz-background-size: 35px, 35px;
        -o-background-size: 35px, 35px;
    }

    #smartAlert[data-icon="info"] #smartAlertIcon {
        background-image: url(x2/info.png);
    }

    #smartAlert[data-icon="confirm"] #smartAlertIcon {
        background-image: url(x2/confirm.png);
    }

    #smartAlert[data-icon="warning"] #smartAlertIcon {
        background-image: url(x2/warning.png);
    }

    #smartAlert[data-icon="error"] #smartAlertIcon {
        background-image: url(x2/error.png);
    }

    #smartAlert[data-icon="prompt"] #smartAlertIcon {
        background-image: url(x2/prompt.png);
    }
}

/* -----[ CONTENT ]------------------------------------------------------------------------------ */

#smartAlertContent {
    padding: 26px 20px 26px 0;
    line-height: 20px;
    color: #63737f;
}

#smartAlert[data-icon="false"] #smartAlertContent {
    padding-left: 52px;
}

#smartAlert[data-type="prompt"] #smartAlertContent {
    padding: 16px 20px 16px 0;
}

#smartAlert[data-type="prompt"][data-icon="false"] #smartAlertContent {
    padding-left: 26px;
}

#smartAlertScrollArea {
    margin-right: 36px;
}

#smartAlertScrollBar {
    background-color: #dfeaf4 !important;
}

#smartAlertScrollDrag {
    background-color: #48545e;
}

#smartAlertPrompt {
    border: 1px solid #abb1c9;
    padding: 5px;
    margin: 10px 0;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 13px;
    color: #848484;
    background: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    box-shadow: 0 1px 3px rgba(2, 3, 3, 0.12) inset;
    -webkit-box-shadow: 0 1px 3px rgba(2, 3, 3, 0.12) inset;
    -moz-box-shadow: 0 1px 3px rgba(2, 3, 3, 0.12) inset;
    -o-box-shadow: 0 1px 3px rgba(2, 3, 3, 0.12) inset;
    -ms-box-shadow: 0 1px 3px rgba(2, 3, 3, 0.12) inset;
}

/* -----[ BUTTONS ]------------------------------------------------------------------------------ */

#smartAlertButtons {
    border-top: 1px solid #dfeaf4;
    padding: 12px 13px 13px;
    background: #f9fafe;
}

#smartAlert[data-webkit] #smartAlertButtons,
#smartAlert[data-opera] #smartAlertButtons,
#smartAlert[data-ie="8"] #smartAlertButtons,
#smartAlert[data-ie="7"] #smartAlertButtons {
    border-radius: 0 0 2px 2px;
}

.smartAlertButton {
    margin-left: 11px;
    border: solid 1px #b1b8bf;
    padding: 9px 22px 7px;
    min-width: 32px;
    font-weight: bold;
    line-height: 13px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    color: #424e58;
    background-color: #f4f6f9;
    background-image: linear-gradient(#fff, #eceef4 99%, #eceef4);
    background-image: -webkit-linear-gradient(#fff, #eceef4 99%, #eceef4);
    background-image: -moz-linear-gradient(#fff, #eceef4 99%, #eceef4);
    background-image: -o-linear-gradient(#fff, #eceef4 99%, #eceef4);
    background-image: -ms-linear-gradient(#fff, #eceef4 99%, #eceef4);
    -pie-background: linear-gradient(#fff, #eceef4 99%, #eceef4);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 0 2px rgba(2, 3, 3, 0.05), 0 0 5px #fff inset;
    -webkit-box-shadow: 0 2px rgba(2, 3, 3, 0.05), 0 0 5px #fff inset;
    -moz-box-shadow: 0 2px rgba(2, 3, 3, 0.05), 0 0 5px #fff inset;
    -ms-box-shadow: 0 2px rgba(2, 3, 3, 0.05), 0 0 5px #fff inset;
    -o-box-shadow: 0 2px rgba(2, 3, 3, 0.05), 0 0 5px #fff inset;
}

.smartAlertButton:hover {
    border: solid 1px #a8b3c4;
    background-color: #dde3e9;
    background-image: linear-gradient(#ebeff5, #d2d9e0);
    background-image: -webkit-linear-gradient(#ebeff5, #d2d9e0);
    background-image: -moz-linear-gradient(#ebeff5, #d2d9e0);
    background-image: -o-linear-gradient(#ebeff5, #d2d9e0);
    background-image: -ms-linear-gradient(#ebeff5, #d2d9e0);
    -pie-background: linear-gradient(#ebeff5, #d2d9e0);
    box-shadow: 0 2px rgba(2, 3, 3, 0.05), 0 2px rgba(255, 255, 255, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 2px rgba(2, 3, 3, 0.05), 0 2px rgba(255, 255, 255, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 2px rgba(2, 3, 3, 0.05), 0 2px rgba(255, 255, 255, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.5) inset;
    -ms-box-shadow: 0 2px rgba(2, 3, 3, 0.05), 0 2px rgba(255, 255, 255, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.5) inset;
    -o-box-shadow: 0 2px rgba(2, 3, 3, 0.05), 0 2px rgba(255, 255, 255, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.5) inset;
}

.smartAlertButton.smartAlertActive {
    border: 1px solid #7991a8;
    box-shadow: 0 0 4px rgba(86, 122, 155, 0.4), 0 0 5px #fff inset;
    -webkit-box-shadow: 0 0 4px rgba(86, 122, 155, 0.4), 0 0 5px #fff inset;
    -moz-box-shadow: 0 0 4px rgba(86, 122, 155, 0.4), 0 0 5px #fff inset;
    -o-box-shadow: 0 0 4px rgba(86, 122, 155, 0.4), 0 0 5px #fff inset;
    -ms-box-shadow: 0 0 4px rgba(86, 122, 155, 0.4), 0 0 5px #fff inset;
}

.smartAlertButton.smartAlertClick {
    border: 1px solid #9ba8bc;
    background-color: #dde3e9;
    background-image: linear-gradient(#d2d9e0, #ebeff5);
    background-image: -webkit-linear-gradient(#d2d9e0, #ebeff5);
    background-image: -moz-linear-gradient(#d2d9e0, #ebeff5);
    background-image: -o-linear-gradient(#d2d9e0, #ebeff5);
    background-image: -ms-linear-gradient(#d2d9e0, #ebeff5);
    -pie-background: linear-gradient(#d2d9e0, #ebeff5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) inset, 0 0 4px rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) inset, 0 0 4px rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) inset, 0 0 4px rgba(255, 255, 255, 0.5) inset;
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) inset, 0 0 4px rgba(255, 255, 255, 0.5) inset;
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) inset, 0 0 4px rgba(255, 255, 255, 0.5) inset;
}