@font-face {
    font-family: 'sf_pro_displaybold';
    src: url('sf-pro-display-bold-webfont.woff2') format('woff2'), url('sf-pro-display-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_pro_displaylight';
    src: url('sf-pro-display-light-webfont.woff2') format('woff2'), url('sf-pro-display-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_pro_displayregular';
    src: url('sf-pro-display-regular-webfont.woff2') format('woff2'), url('sf-pro-display-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.form-control::-moz-placeholder {
    color: #989898;
}

body {
    border-top: 5px solid #6b7273;
    font-family: 'sf_pro_displayregular';
    color: #211920;
}


.multiselect-container {
    width: 350px !important;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 350px;
    
}
header {
    background: #fff;
    box-shadow: none;
    border-bottom: 1px solid #dcdcdc;
}

.bg-light {
    background: #fff !important;
}


.modal-header {
    background: #3db8db;
}

.dataTables_wrapper .dataTables_filter label {
    font-size: 17px;
}

.navbar-brand img {
    width: 185px;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'sf_pro_displayregular';
    text-transform: uppercase;
    color: #758089 !important;
    font-size: 16px;
    padding: 5px 15px;
}

    .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
        color: #fff !important;
        background: #3db8db !important;
    }

    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: #fff !important;
        background: #3db8db !important;
    }

.buttons {
    color: #fff !important;
    background: #211920 !important;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    margin: 2px;
}

    .buttons:hover {
        color: #fff !important;
        background: #1c667c !important;
    }

.chosen-container-multi .chosen-choices {
    border: none;
    font-family: 'sf_pro_displayregular';
    font-size: 14px;
    padding: 4px;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: none;
    text-transform: none;
    color: #211920 !important;
    background: none;
}

.formhead {
    border-bottom: 1px solid #ccc;
}

    .formhead h6 {
        font-family: 'sf_pro_displaybold';
        text-transform: uppercase;
        color: #3db8db !important;
        font-size: 20px;
    }

.loginform {
    background: #fff;
    padding: 35px;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
}

    .loginform h5 {
        font-family: 'sf_pro_displaybold';
        text-transform: uppercase;
        color: #3db8db !important;
        font-size: 20px;
        padding: 15px 0;
    }

    .loginform label {
        text-transform: none;
        color: #9ea8aa;
    }

.form-control:focus {
    border-color: inherit !important;
    box-shadow: inherit !important;
}

.loginput {
    
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: none;
    text-transform: none;
    color: #211920 !important;
    background: none;
}

.loginform p {
    font-family: 'sf_pro_displayregular';
    font-size: 18px;
    text-transform: none;
    color: #9ea8aa;
}

    .loginform p a {
        color: blue;
    }

.loginform a {
    color: blue;
}

.logbutton {
    height: 40px;
    font-family: 'sf_pro_displaybold';
    font-size: 20px;
    /* line-height: 26px;*/
}

.logbutton {
    background: #440e62 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    font-size: 22px;
}

.cancelbtn {
    background: #ff0000 !important;
    font-family: 'sf_pro_displayregular';
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
}

.buttons {
    background: #3db8db none repeat scroll 0 0 !important;
    border: medium none;
    color: #ffffff !important;
    font-size: 16px;
    margin: 2px;
    text-transform: uppercase;
    border-radius: 0px;
    font-family: 'sf_pro_displayregular';
}

.formbox {
    border: 1px solid #ccc;
    padding: 10px 25px;
}

.delete {
    font-size: 28px;
    color: #ff0000;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: none !important;
    padding: 4px 16px !important;
    border-radius: 100px !important;
    cursor: pointer !important;
}

.buttons-html5:hover {
    background: #989898;
}

.edit {
    background: #c4f4ea;
    color: #3ad9b9;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    line-height: 28px;
    font-size: 18px;
}

.trash {
    background: #ffe8fb;
    color: #8c297b;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    line-height: 28px;
    font-size: 18px;
}

.table thead th {
    text-transform: uppercase;
    font-size: 15px !important;
    background: #211920;
    color: white;
}

.chosen-container-single .chosen-single {
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    text-transform: none !important;
    color: #9ea8aa !important;
    background: none !important;
    font-size: 16px;
}

.chosen-container-single .chosen-drop {
    margin-top: 0px !important;
}

footer {
    background: #001f28; /*bottom: 0; position:absolute; width: 100%;*/
    text-align: center;
    color: #3db8db;
    font-size: 18px;
}

    footer a {
        color: #3db8db;
        padding: 0px 18px;
        font-size: 18px;
    }

        footer a:hover {
            color: #fff;
            padding: 0 18px;
            text-decoration: none;
        }

.copyright {
    background: #00161c;
    padding: 8px 0;
}

/**/
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-bottom: 5px solid #3db8db;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    background-color: #f4f8f9;
    border-width: 0 0 5px;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-bottom: 5px solid #3db8db;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-width: 0 0 5px;
}

.nav-tabs .nav-link {
    border-bottom: 5px solid transparent;
    border-radius: 0px;
    font-family: 'sf_pro_displayregular';
    text-transform: uppercase;
    color: #697782;
    padding: 30px 15px 12px;
    border-width: 0 0 5px;
}

.nav-tabs {
    border-bottom: none;
}

.projects {
    background: url(../images/folder.svg) no-repeat center top;
}

    .projects:hover {
        background: url(../images/folder_h.svg) no-repeat center top;
    }

    .projects.active {
        background: url(../images/folder_h.svg) no-repeat center top;
    }

.tickets {
    background: url(../images/tickets.svg) no-repeat center top;
}

    .tickets:hover {
        background: url(../images/tickets_h.svg) no-repeat center top;
    }

    .tickets.active {
        background: url(../images/tickets_h.svg) no-repeat center top;
    }

.calls {
    background: url(../images/calls.svg) no-repeat center top;
}

    .calls:hover {
        background: url(../images/calls_h.svg) no-repeat center top;
    }

    .calls.active {
        background: url(../images/calls_h.svg) no-repeat center top;
    }

.tasks {
    background: url(../images/tasks.svg) no-repeat center top;
}

    .tasks:hover {
        background: url(../images/tasks_h.svg) no-repeat center top;
    }

    .tasks.active {
        background: url(../images/tasks_h.svg) no-repeat center top;
    }

/* Regular Table */
/*.table thead th, .table thead td{ border:none !important; font-family: 'sf_pro_displayregular';}
.table thead th, .table tfoot th{ border:none !important; font-family: 'sf_pro_displayregular'; font-weight:bold;}
.table-bordered{ border:none !important;}
.table td, .table th{ border-top: none !important; }
.table tbody tr{border-collapse: separate; background:#fff;}
.table {border-spacing: 0em .3em !important;}
.table th, .table td{font-size: 18px;}
.table, .table th, .table td p{margin: 0px;}
.table h4{font-family: 'sf_pro_displaybold'; font-size: 18px; margin: 0px;}
.table thead th, .table thead td{ padding: 4px 18px !important; }*/


/*Data Table*/
table.dataTable thead th, table.dataTable thead td {
    border: none !important;
    font-family: 'sf_pro_displayregular';
}

table.dataTable thead th, table.dataTable tfoot th {
    border: none !important;
    font-family: 'sf_pro_displayregular';
    font-weight: bold;
}

.table-bordered {
    border: none !important;
}

.table td, .table th {
    border-top: none !important;
}

table.dataTable tbody tr {
    border-collapse: separate;
}

table.dataTable {
    border-spacing: 0em .3em !important;
}

    table.dataTable, table.dataTable th, table.dataTable td {
        font-size: 18px;
    }

        table.dataTable, table.dataTable th, table.dataTable td p {
            margin: 0px;
        }

            table.dataTable h4 {
                font-family: 'sf_pro_displaybold';
                font-size: 18px;
                margin: 0px;
            }

.dataTables_wrapper .dataTables_filter input {
    border: none;
    padding: 2px 10px;
    border: 1px solid #cccccc;
}

.dataTables_length select {
    border: none;
    padding: 2px 10px;
    border: 1px solid #cccccc;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 4px 18px !important;
}

table.dataTable.no-footer {
    border-bottom: none !important;
}

.dataTables_length {
    font-size: 17px;
}

.dt-buttons {
    margin-bottom: 10px;
    text-align: right;
}

.buttons-html5 {
    border: none;
    color: #fff;
    background: #3db8db;
    padding: 4px 16px;
    border-radius: 100px;
    cursor: pointer;
}

    .buttons-html5:hover {
        background: #989898;
    }

.red {
    color: #f8f9fa;
    background-color: red;
    font-size: 16px !important;
    padding: 3px 15px;
    border-radius: 100px;
}
/*.red{ color: #ff0000; font-size: 16px !important;  background: #3ad9b9; border-radius: 100px; padding: 3px 15px;}*/
.green {
    color: #fff;
    font-size: 16px !important;
    background: #3ad9b9;
    border-radius: 100px;
    padding: 3px 15px;
}

.purple {
    background: #ffe8fb;
    color: #5b124e;
    border-radius: 100px;
    padding: 3px 15px;
}

.viewgreen {
    background: #c4f4ea;
    color: #129c80;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    display: inline-block;
}

a.explore {
    color: #fff;
}

    a.explore:hover {
        color: #fff;
    }


div.dropdown {
    color: #555;
    margin: 15px 0px 0 0;
    position: absolute;
    right: 0;
    width: 200px;
    height: 17px;
    text-align: left;
    display: block;
}

div.submenu {
    background: #211920;
    position: absolute;
    top: -12px;
    z-index: 100;
    display: none;
    padding: 40px 0 5px;
    border-radius: 6px;
    width: 100%;
}

.dropdown li a {
    color: #bba3b8;
    font-size: 14px;
    display: block;
    font-family: 'sf_pro_displayregular';
    padding: 6px 15px;
    cursor: pointer;
    text-decoration: none;
}

    .dropdown li a:hover {
        background: #322630;
        color: #bba3b8;
        text-decoration: none;
    }

a.account {
    font-size: 14px;
    line-height: 16px;
    color: #a1819d !important;
    position: absolute;
    z-index: 110;
    display: block;
    height: 28px;
    text-decoration: none;
    background: url(../images/arrow.png) 95px 8px no-repeat;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.root {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 11px;
    padding: 11px 0 0 0px;
    border-top: 1px solid #a1819d;
}



@media all and (min-width: 240px) and (max-width: 320px) {
}

@media all and (min-width: 320px) and (max-width: 480px) {
}

@media all and (min-width:481px) and (max-width:567px) {
}

@media all and (min-width:568px) and (max-width:767px) {
}

@media all and (min-width:768px) and (max-width:900px) {
}

@media all and (min-width:901px) and (max-width:1024px) {
    .hidebutton {
        display: none;
    }
}

@media all and (min-width:1025px) and (max-width:2000px) {
    .hidebutton {
        display: none;
    }
}




/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0;
    }

    to {
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}
body {
  padding : 10px ;
  
}

#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}