.collapse_menu .collapse_menu--icon, .vertical_nav {
-moz-transition:all .3s ease-out;
-webkit-transition:all .3s ease-out;
transition:all .3s ease-out
}
* {
	box-sizing:border-box
}
:active, :focus {
	outline:0
}
.toggle_menu {
	display:block;
	float:left;
	width:50px;
	height:50px;
	line-height:50px;
	padding:0;
	background:0 0;
	border:0;
	text-align:center;
	cursor:pointer
}
.toggle_menu i {
	display:block;
	font-size:28px
}
.vertical_nav {
	position:fixed;
	left:-200px;
	top:50px;
	bottom:0;
	width:200px;
	background:#211920;
	z-index: 1;
}
.vertical_nav__closed {
	left:-200px!important
}
.vertical_nav__opened {
	left:0!important;
	box-shadow:rgba(0, 0, 0, .4)-30px 0 30px 30px
}
.menu {
	position:absolute;
	top:20px;
	bottom:40px;
	overflow-y:auto;
	width:100%;
	margin:0;
	padding:0;
	list-style-type:none
}
.menu--item {
	position:relative;
	min-height:40px;
	line-height:40px
}
.menu--item__has_sub_menu .menu--link:after {
	position:absolute;
	top:0;
	right:15px;
	height:40px;
	line-height:40px;
	font-family:FontAwesome;
	content:"\f0d7"
}
.menu--subitens__opened {
	background:#e9e9e9
}
.menu--subitens__opened .menu--link {
	color:#000
}
.menu--subitens__opened .sub_menu {
	display:block
}
.menu--link {
	display:block;
	overflow:hidden;
font-size:.875rem;
	text-decoration:none;
	color:#ffffff;
	font-weight:400;
	white-space:nowrap;
	cursor:pointer
}
.menu--link:hover, .menu--link:hover .menu--label {
	color:#ffffff;
	background:#7d4574;
	text-decoration: none
}
.menu--icon {
	display:block;
	float:left;
	width:50px;
	height:40px;
	line-height:40px;
	font-size:20px;
	text-align: center
}
.menu--label {
	display:block;
	height:40px;
	line-height:40px
}
.sub_menu {
	display:none;
	overflow:hidden;
	padding-left:0;
	list-style:none
}
.sub_menu--link {
	display:block;
	padding-left:50px;
	padding-right:16px;
font-size:.875rem;
	color:#666;
	text-decoration:none
}
.sub_menu--link:hover {
	color:#000;
	background:#ddd
}
.sub_menu--link__active {
	color:#ffffff;
	background:#7d4574;
	text-decoration: none
}
.collapse_menu {
	display:none
}
@media (min-width:992px) {
.vertical_nav {
left:0
}
.toggle_menu {
display:none
}
.vertical_nav__minify {
width:50px
}
.vertical_nav__minify .menu {
overflow:visible
}
.vertical_nav__minify .menu--label {
display:none;
position:absolute;
top:0;
left:50px;
width:150px;
padding-left:16px;
padding-right:16px;
background:#e9e9e9;
font-weight:500
}
.vertical_nav__minify .menu--item__has_sub_menu .menu--link:after {
content:""
}
.vertical_nav__minify .menu--subitens__opened .menu--label, .vertical_nav__minify .menu--subitens__opened .sub_menu {
display:block
}
.vertical_nav__minify .sub_menu {
position:absolute;
top:40px;
left:50px;
width:150px;
background:#e9e9e9
}
.vertical_nav__minify .sub_menu--link {
padding-left:16px
}
.vertical_nav__minify .collapse_menu--icon {
-webkit-transform:rotate(180deg)
}
.collapse_menu {
position:absolute;
bottom:0;
display:block;
width:100%;
height:40px;
line-height:40px;
padding:0;
border:0;
border-top:1px solid #e6e6e6;
background:#f6f6f6;
color:#666;
font-size:.875rem;
text-align:left;
cursor:pointer
}
.collapse_menu:hover {
color:#000;
background:#ddd
}
.collapse_menu .collapse_menu--icon {
display:block;
float:left;
width:50px;
height:40px;
line-height:40px;
font-size:20px
}
.collapse_menu .collapse_menu--icon:before {
content:"\f053"
}
.collapse_menu .collapse_menu--label {
display:block;
height:40px;
line-height:40px
}
}
