.TickerNews{
	width: 100%;
	height: 25px;
	line-height:25px;
    background-color: #f2f2f2;
}
.ti_wrapper{
	width: 100%;
	position: relative;
	overflow: hidden;
}
.ti_slide{
	width: 30000px;
	position: relative;
	left: 0;
	top: 0;
}
.ti_content{
	width: 8000px;
	position: relative;
	float:left;
    height:25px;
    font-family:Arial;
}
.ti_news{
	float:left;
    padding:0 25px;font-family:Arial;
    font-size:14px;
    color:#005d8c;
}
.ti_news a{
	display: block;
	margin-right: 10px;
	color:black;
	text-decoration: none;
	font-family:Arial;
    font-size:14px;
    color:#005d8c;
}