@font-face {
    font-family: 'playregular';
    src: url('play-regular.woff2') format('woff2'), url('play-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("OpenSans-Regular.eot?") format("eot"),url("OpenSans-Regular.woff") format("woff"),url("OpenSans-Regular.ttf") format("truetype"),url("OpenSans-Regular.svg#OpenSans") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('opensans-light-webfont.woff2') format('woff2'), url('opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#smartAlertButtons {
    border-top: 1px solid !important;
    padding: 12px 13px 13px;
    background: #007dc6 !important;
}

body {
}

.ui-widget-header {
    background: #0596b1;
    border: none;
    color: #fff;
}

.lightbtn {
    background: #0596b1 !important;
    border: 1px solid #0596b1 !important;
    margin: 10px 0;
    color: #fff !important;
}

.darkbtn {
    background: #005c6e !important;
    border: 1px solid #005c6e !important;
    margin: 10px 0;
}

.lightbtn:hover {
    background: #005c6e !important;
    border: 1px solid #005c6e !important;
}

.darkbtn:hover {
    background: #0596b1 !important;
    border: 1px solid #0596b1 !important;
}

.btn-success:hover {
    background-color: #007dc6 !important;
    border-color: #007dc6 !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background: #6b2990;
    color: #f8f9fa;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff !important;
    }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff !important;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #73e9ff !important;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #005c6e !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #0596b1;
    color: #fff;
}

.admlog {
    background: #005c6e none repeat scroll 0 0 !important;
}

.dropdown-menu {
    background-color: #fff !important;
}

    .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
        color: #337ab7 !important;
        text-decoration: none !important;
        background-color: #fff !important;
        outline: 0 !important;
    }

        .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
            color: #000 !important;
            text-decoration: none !important;
            background-color: #fff !important;
            outline: 0 !important;
        }

.nav-tabs > li > a {
    margin-right: 0;
}

.bdr-btm.bdr-blu {
    border-bottom: 2px solid #50b1c4;
}

.bdr-btm {
    display: block;
    height: 2px;
    margin: 0 auto;
    width: 60px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #005c6e !important;
}

.emenu {
    float: right;
    margin-top: 10px;
}

.graybox {
    margin-top: 50px;
    margin-bottom: 50px;
}

.fullbox {
    padding: 30px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 0 #f1f1f1;
}

    .fullbox h2 {
        font-size: 24px;
        font-weight: normal;
        margin-bottom: 30px;
        text-align: center;
        text-transform: capitalize;
    }

.navtabs {
    background: #0596b1;
}

.chosen-container-single .chosen-single {
    background: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    height: auto !important;
    line-height: 31px !important;
}

.chosen-container.chosen-container-single {
    width: 100% !important;
}

.recsec {
    margin-top: 50px;
    margin-bottom: 50px;
}

.tscroller {
    background: #f1f1f1;
    padding-top: 10px;
}

#smartAlertScrollArea {
    margin-right: 0 !important;
    font-size: 16px;
}

#smartAlertBox {
    background: #fff none repeat scroll 0 0;
    border: medium none !important;
    border-radius: 0 !important;
    min-width: 420px !important;
}

    #smartAlertBox b {
        color: #0596b1 !important;
    }

.smartAlertButton {
    background: #000 none repeat scroll 0 0 !important;
    border: medium none !important;
    border-radius: 0 !important;
    box-shadow: inherit !important;
    color: #fff !important;
    font-size: 22px !important;
    font-weight: normal !important;
    margin-left: 11px;
    padding: 10px 22px !important;
    text-shadow: inherit !important;
}

    .smartAlertButton:hover {
        background: #71b7df !important;
    }

#smartAlertHeader {
    border-bottom: none !important;
    padding: 8px 41px 17px 17px !important;
}

#smartAlertTitle {
    line-height: inherit !important;
    color: #fff;
    font-weight: bold;
    line-height: inherit !important;
    text-shadow: 0 -1px 1px rgba(2, 3, 3, 0.3);
    text-align: left;
    height: 22px;
    font-size: 20px;
}

#smartAlert[data-icon="warning"] #smartAlertIcon {
    padding: 50px 0;
}

#smartAlertIcon {
    margin-right: 15px !important;
    width: 141px !important;
}

#smartAlertContent {
    padding: 26px 20px 26px 10px !important;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.version {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.transaction {
    border: 1px solid #ccc;
    box-shadow: 5px 5px 0 #f1f1f1;
    padding: 30px;
    background: #fff;
}

    .transaction h1 {
        text-align: center;
        font-size: 30px;
        margin-top: 0px;
    }

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar-inverse {
    border: medium none;
}

.reclog input {
    font-size: 18px;
    font-weight: normal;
    height: 45px;
}

.reclog select {
    font-size: 18px;
    font-weight: normal;
    height: 42px;
    color: #555;
}

.nav-tabs > li > a {
    color: #fff;
    border-radius: 0;
}

    .nav-tabs > li > a.active {
        color: #000 !important;
    }

.form-control::-moz-placeholder {
    color: #555;
}

.form-group row {
    width: 20px !important;
}

.nav-tabs > li > a:hover {
    color: #000 !important;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #fff;
}

.recbox {
    border: 1px solid #ccc;
    padding-top: 16px;
    box-shadow: 5px 5px 0 #f1f1f1;
    background: #fff;
}

.recbtn {
    padding: 0px !important;
    height: 40px;
}

.admlog {
    font-weight: bold;
    color: #fff !important;
}

.admloggreen {
    font-weight: bold;
    color: #fff !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.admlog:hover {
    background: #ff9000;
}

.admloggreen:hover {
    background: #39b54a;
}

.panel-primary > .panel-heading {
    background-color: #222;
    border-color: #222;
    color: #fff;
}

.panel-primary {
    border-color: #222;
}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert {
    overflow: hidden;
    width: 100%;
    padding: 0 0 10px 0;
}

#smartAlertHeader {
    background: #007dc6 !important;
}

.panel-body i {
    color: #fff;
}

.panel-body span {
    color: #1d1919;
}

@keyframes marqueeAnimation-3428580 {
    100% {
        margin-left: -494px;
    }
}

@keyframes marqueeAnimation-6518577 {
    100% {
        margin-left: -97px;
    }
}

@keyframes marqueeAnimation-1824886 {
    100% {
        margin-left: -494px;
    }
}

@keyframes marqueeAnimation-3135402 {
    100% {
        margin-left: -915px;
    }
}

@keyframes marqueeAnimation-8194423 {
    100% {
        margin-left: 300px;
    }
}

@keyframes marqueeAnimation-4289040 {
    100% {
        margin-left: -469px;
    }
}

@keyframes marqueeAnimation-9271299 {
    100% {
        margin-top: -76px;
    }
}

@keyframes marqueeAnimation-8012530 {
    100% {
        margin-top: 0;
    }
}

@keyframes marqueeAnimation-6501249 {
    100% {
        margin-top: -115px;
    }
}

@keyframes marqueeAnimation-1560731 {
    100% {
        margin-top: 19px;
    }
}

img {
    max-width: 100%;
}

.header {
    background: #0596b1; /*background:#fff url(../images/header.png) no-repeat center -153px;*/
    position: fixed;
    width: 100%;
    z-index: 9;
}

.logo {
    margin: 7px 0;
}

.social {
    color: #fff;
    font-size: 26px;
    padding: 20px 0;
}

.navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background: #007dc6;
    color: #0e0648 !important;
}

.bg-light {
    background-color: none !important;
}

.mainmeding h1 {
    font-family: 'open_sanslight';
    font-size: 40px;
    color: #ff3e4c;
    text-align: center;
    text-transform: uppercase;
    margin: 25px 0 50px 0;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 15px;
}

    .mainmeding h1 span {
        color: #525252;
    }

.services {
    border: 1px dashed #ccc;
    margin: 0 0 20px 0;
}

    .services h3 {
        font-size: 22px;
        color: #ff3e4c;
        text-align: center;
        font-family: 'open_sanslight';
        line-height: 35px;
        border-bottom: 2px solid #f1f1f1;
        padding: 20px 0;
    }

.servi {
    background: #0596b1;
    margin: -50px 0 0 0;
    text-align: center;
    padding: 80px 0 38px 0;
}

.servicon {
    border: 1px dashed #ccc;
    background: #fff;
    border-radius: 100px;
    margin: 30px auto 0;
    height: 90px;
    width: 90px;
    text-align: center;
    padding: 11px;
    position: relative;
}

.readmore {
    margin: 0px;
    padding: 0px;
}

.welcome {
    margin: 25px 0 30px 0;
    padding-bottom: 135px;
    background: #ed2a38 url(../images/welcomeicon.png) repeat-x left bottom;
}

    .welcome h2 {
        font-family: 'open_sanslight';
        font-size: 40px;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        margin: 20px 0;
        border-bottom: 1px solid #fff;
        padding-bottom: 15px;
        font-weight: bold;
    }

    .welcome p {
        font-family: 'open_sanslight';
        font-size: 20px;
        color: #fff;
        text-align: center;
        margin: 10px 0;
    }

    .welcome h4 {
        font-family: 'open_sanslight';
        font-size: 35px;
        color: #ffea00;
        text-align: center;
        text-transform: uppercase;
        margin: 40px 0;
        font-weight: bold;
    }

        .welcome h4 a {
            font-family: 'open_sanslight';
            font-size: 20px;
            color: #ffea00;
            text-align: center;
            text-transform: uppercase;
            margin: 40px 0;
            border: 1px dashed #fff;
            font-weight: bold;
            text-decoration: none;
            padding: 10px 20px;
        }

            .welcome h4 a:hover {
                color: #fff;
                text-decoration: none;
            }

.operators {
    background: url(../images/poly.jpg) repeat;
    padding-bottom: 35px;
}

.foot {
    background: #0f0f0f;
}

.copy {
    background: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'open_sanslight';
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.features {
    margin: 0px;
    padding: 0px;
}

    .features h6 {
        font-family: 'open_sanslight';
        font-size: 24px;
        color: #fff;
        padding: 25px 0 0;
        margin: 0px;
    }

    .features ul {
        list-style-type: none;
    }

        .features ul li {
            list-style-type: none;
            padding: 4px 0;
        }

            .features ul li a {
                color: #fff;
                text-decoration: none;
                font-family: 'open_sanslight';
                font-size: 14px;
            }

                .features ul li a:hover {
                    color: #ff9000;
                    text-decoration: none;
                }

.content {
    margin: 25px 0 25px 0;
}

    .content h2 {
        font-family: 'open_sanslight';
        font-size: 24px;
        color: #ff0042;
    }

    .content p {
        font-family: 'open_sanslight';
        font-size: 16px;
        text-align: justify;
    }

.login {
    color: #fff;
    background: #ff0000;
    padding: 7px 20px;
}

    .login:hover {
        color: #fff200;
        background: #000;
        padding: 7px 20px;
        text-decoration: none;
    }

.contact {
    background: #0596b1;
    padding-top: 170px;
    text-align: center;
    font-family: "Open Sans";
}

    .contact h5 {
        font-family: 'open_sanslight';
        color: #fff;
        text-transform: uppercase;
        font-size: 2.571em;
    }

    .contact h6 {
        font-family: 'open_sanslight';
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        font-style: italic;
    }

    .contact p {
        font-family: 'open_sanslight';
        color: #fff;
        font-size: 16px;
        font-style: italic;
    }

.carousel {
    padding: 150px 0 0 0;
}

.ocen-blu-bg {
    background-color: #64d2e1;
}

.box {
    color: #fff;
    min-height: 204px;
    padding: 26px 10px;
}

.black {
    color: #343434;
}

.title {
    line-height: 1.4;
    text-align: center;
}

.title, .title-left {
    display: block;
    font-size: 1.714em;
    font-weight: 700;
    margin: 0px 0 0 0;
    text-transform: uppercase;
}

.bdr-btm.bdr-blu {
    border-bottom: 2px solid #50b1c4;
    padding-top: 10px;
}

.bdr-btm {
    display: block;
    height: 2px;
    margin: 0 auto;
    padding-top: 5px 0 0 0;
    width: 60px;
}

.box p {
    color: #fff;
    font-size: 1em;
    line-height: 1.6;
    text-align: center;
}

.box h4 {
    font-size: 1.614em;
    font-weight: 700;
    margin-top: 0;
    text-align: center;
}

.lt-orng-bg {
    background-color: #f3928b;
}

.lt-grn-bg {
    background-color: #c1ca5d;
}

.lt-gren-bg {
    background-color: #86c689;
}

.our-val-bx {
    padding-top: 2.5%;
}

.footsocbg {
    background: #0596b1;
    padding-top: 15px;
}

    .footsocbg p {
        color: #fff;
        margin: 0px;
    }

.white {
    color: #fff;
}

.footer-cnt-us .cmpny-name {
    color: #4fb1c3;
    font-size: 1.286em;
    font-weight: 600;
    margin: 20px 0 0 0;
    display: block;
}

.footer-cnt-us .addr {
    color: #f2f2f2;
    font-size: 1.143em;
    padding-bottom: 2%;
}

.ftr-bdr {
    border-bottom: 1px solid #3f3f3f;
    margin: 0 auto;
    width: 90%;
}

ul.mail-cont {
    font-size: 1.143em;
    list-style-type: none;
    margin: 0 auto;
    padding: 2% 0 2%;
    width: 100%;
}

    ul.mail-cont li {
        display: inline-block;
        font-size: 1em;
        font-style: italic;
        margin-right: 7%;
        padding-left: 30px;
    }

    footer, ul.mail-cont li {
        position: relative;
    }

        ul.mail-cont li a {
            color: #fff;
        }

.footer-cnt-us .addr {
    color: #f2f2f2;
    font-size: 1.143em;
    padding-bottom: 2%;
    display: block;
}

.white-container {
    background-color: #fff;
    padding: 5% 0;
}

.contct-bx {
    background-color: #f2f2f2;
    padding: 2% 4%;
}

.black {
    color: #343434;
}

p.looki {
    padding-top: 1%;
}

.contct-bx .form-group .form-control {
    border-color: #b9b9b9;
    border-radius: 2px;
    height: 40px;
    margin-top: 30px;
}

.contct-bx .form-group .form-control {
    margin-bottom: 15px;
    margin-top: 0;
}

.contct-bx .form-group .btn {
    font-size: 1.286em;
    font-weight: 300;
    margin-top: 30px;
}

.btn.redd {
    background-color: #cd152d;
    border: 2px solid #cd152d;
    color: #fff;
    margin: 20px 0 0 0;
    width: 100%;
}

.btn {
    border-radius: 4px;
    font-size: 1em;
    letter-spacing: 1px; /*padding: 14px 32px;*/
    text-transform: uppercase;
    transition: all 0.5s ease-out 0s;
}

.econtact {
    margin: 30px 0 0 0;
}

    .econtact input {
        margin: 0px 0 15px 0;
    }

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

    .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        background: #ff0000 !important;
        color: #fff !important;
    }

    .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
        background: #ff0000 !important;
        color: #fff !important;
    }

.contactmap {
    background: #f1f1f1;
}

.address {
    background: #39b54a none repeat scroll 0 0;
    margin: 75px 0 0;
    padding: 20px 20px 20px;
    position: absolute;
}

    .address h2 {
        border-bottom: 1px solid #fff;
        font-size: 28px !important;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
    }

    .address p {
        color: #fff;
    }

.signin {
    background: #0596b1;
    padding: 10px;
}

.blue {
    background: #00aeef;
}

.logbox {
    box-shadow: 0px 4px 4px 3px #f1f1f1;
    padding-bottom: 15px;
}

    .logbox h2 {
        color: #0596b1;
        text-transform: uppercase;
        margin: 16px 0 0;
    }

.forgot {
    margin: 10px 0 0 0;
    display: block;
}

.white-container {
    background: url(../images/poly.jpg) repeat;
}

.mapimg {
    height: 420px;
}

.ourservices {
    background: url(../images/poly.jpg) repeat;
    padding-top: 20px;
    padding-bottom: 20px;
}

    .ourservices h2 {
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        color: #fc8f3a;
        text-transform: uppercase;
    }

    .ourservices span {
        text-align: center;
        padding: 20px 0;
        weight: 100%;
        display: block;
    }

.container {
    box-shadow: 0px 0px 2px 2px #f1f1f1 !important;
    padding: 20px !important;
}

.nbs-flexisel-container {
    position: relative;
    max-width: 100%;
}

.nbs-flexisel-ul {
    position: relative;
    width: 99999px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
    overflow: auto;
}

.nbs-flexisel-inner {
    position: relative;
    overflow: hidden;
    float: left;
    width: 100%;
}

.nbs-flexisel-item {
    float: left;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    position: relative;
    line-height: 0px;
}

    .nbs-flexisel-item img {
        max-width: 100%;
        cursor: pointer;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
    }

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    padding: 5px 10px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    position: absolute;
    cursor: pointer;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: #fff;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 49% !important;
    color: black !important;
}

.nbs-flexisel-nav-left {
    left: 10px;
}

    .nbs-flexisel-nav-left:before {
        content: "<";
    }

    .nbs-flexisel-nav-left.disabled {
        opacity: 0.4;
    }

.nbs-flexisel-nav-right {
    right: 5px;
}

    .nbs-flexisel-nav-right:before {
        content: ">";
    }

    .nbs-flexisel-nav-right.disabled {
        opacity: 0.4;
    }

@media all and (min-width: 240px) and (max-width: 320px) {
    .emenu {
        float: none !important;
    }

    .navbar-default .navbar-toggle {
        margin-top: 18px;
    }

    .admlog {
        background: #005c6e none repeat scroll 0 0 !important;
    }
}

@media all and (min-width: 320px) and (max-width: 480px) {
    .social {
        text-align: center;
        width: 100%;
        padding: 0px;
    }

    .logo {
        text-align: center;
        width: 100%;
    }

    .social {
        color: #000;
        display: none;
    }

    .emenu {
        float: none !important;
    }

    .navbar-default .navbar-toggle {
        margin-top: 18px;
    }

    .admlog {
        background: #005c6e none repeat scroll 0 0 !important;
    }
}

@media all and (min-width:481px) and (max-width:567px) {
    .emenu {
        float: none !important;
    }

    .navbar-default .navbar-toggle {
        margin-top: 18px;
    }

    .admlog {
        background: #005c6e none repeat scroll 0 0 !important;
    }
}

@media all and (min-width:568px) and (max-width:767px) {
    .emenu {
        float: none !important;
    }

    .admlog {
        background: #005c6e none repeat scroll 0 0 !important;
    }
}

@media all and (min-width:768px) and (max-width:900px) {
}

@media all and (min-width:901px) and (max-width:1024px) {
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
    }

        /* Tooltip arrow */
        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

.round-button:hover {
    background-image: none;
    background-color: #fdfefe;
    color: #000;
    border: 2px solid #34495e;
}

.round-button {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background: #34495e;
    background-color: #34495e;
    background-image: none;
    box-shadow: 0 0 3px #808080;
    font-size: 15px;
    font-weight: bold;
}

.form {
    box-shadow: 0px 0px 2px 2px #f1f1f1 !important;
    padding: 20px !important;
}
